%p#notice= notice
%h1 Cards

.ui.basic.segment
  .ui.stackable.two.column.grid
    .column
      %h2 White
      %table.ui.very.basic.table
        %thead
          %tr
            %th Name
            %th Tier
            %th Type
            
        %tbody
          - @white_cards.each do |usable_card|
            %tr
              %td= usable_card.name
              %td= usable_card.tier
              %td= usable_card.card_type
              %td= link_to 'View', usable_card
    .column
      %h2 Black
      %table.ui.very.basic.table
        %thead
          %tr
            %th Name
            %th Tier
            %th Type
            
        %tbody
          - @black_cards.each do |usable_card|
            %tr
              %td= usable_card.name
              %td= usable_card.tier
              %td= usable_card.card_type
              %td= link_to 'View', usable_card
    .column
      %h2 Green
      %table.ui.very.basic.table
        %thead
          %tr
            %th Name
            %th Tier
            %th Type
            
        %tbody
          - @green_cards.each do |usable_card|
            %tr
              %td= usable_card.name
              %td= usable_card.tier
              %td= usable_card.card_type
              %td= link_to 'View', usable_card
    .column
      %h2 Blue
      %table.ui.very.basic.table
        %thead
          %tr
            %th Name
            %th Tier
            %th Type
            
        %tbody
          - @blue_cards.each do |usable_card|
            %tr
              %td= usable_card.name
              %td= usable_card.tier
              %td= usable_card.card_type
              %td= link_to 'View', usable_card

