%p#notice= notice
%h1 Cards

.ui.basic.segment
  .ui.stackable.two.column.grid
    .column
      %h2 White
      %table.ui.very.basic.table
        %thead
          %tr
            %th Name
            %th Tier
            %th Type
            
        %tbody
          - @usable_cards.each do |usable_card|
            - if usable_card.legion == 'White'
              %tr
                %td= usable_card.name
                %td= usable_card.tier
                %td= usable_card.card_type
                %td= link_to 'View', usable_card
    .column
      %h2 Black
      %table.ui.very.basic.table
        %thead
          %tr
            %th Name
            %th Tier
            %th Type
            
        %tbody
          - @usable_cards.each do |usable_card|
            - if usable_card.legion == 'Black'
              %tr
                %td= usable_card.name
                %td= usable_card.tier
                %td= usable_card.card_type
                %td= link_to 'View', usable_card
    .column
      %h2 Green
      %table.ui.very.basic.table
        %thead
          %tr
            %th Name
            %th Tier
            %th Type
            
        %tbody
          - @usable_cards.each do |usable_card|
            - if usable_card.legion == 'Green'
              %tr
                %td= usable_card.name
                %td= usable_card.tier
                %td= usable_card.card_type
                %td= link_to 'View', usable_card
    .column
      %h2 Blue
      %table.ui.very.basic.table
        %thead
          %tr
            %th Name
            %th Tier
            %th Type
            
        %tbody
          - @usable_cards.each do |usable_card|
            - if usable_card.legion == 'Blue'
              %tr
                %td= usable_card.name
                %td= usable_card.tier
                %td= usable_card.card_type
                %td= link_to 'View', usable_card

