:css
  .deck-link:hover{
    cursor: pointer;
  }
  .deck-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }
  .cards{
    display: flex;
    justify-content: flex-end;
  }
  .card{
    max-width: auto;
    height: auto;
  }
  .card-image{
    position: relative;
    width: 100%;
    hieght: auto;
  }
  .top{
    position: absolute;

  }
  .bottom{

  }
.ui.header= @user.username

.ui.segment
  %table.ui.very.basic.selectable.single.line.table
    %thead
      %tr
        %th Name
        %th League
        %th Legion
        %th Legion
    %tbody
      - @decks.each do |deck|
        %tr.deck-link{"data-link" => "#{deck_path(deck.id)}"}
          %td.two.wide
            .deck-name.ui.small.header= deck.name
          %td.right.aligned= league_to_image(deck.tier)
          %td.right.aligned= legion_to_image(deck.legion1)
          %td.right.aligned= legion_to_image(deck.legion2)
          %td.right.aligned
            .cards
              - cards_array(deck).each do |card|
                - if card_type(card) == 'Spawner'
                  .card{style: 'order: 3; margin: 0px 2px 0px 2px'}
                    .card-image
                      .spawner
                        %img.top{src: has_image(card), style: 'max-width: 100%; height: auto;'}
                        %img.bottom{src: "https://gamepedia.cursecdn.com/riseoflegions_gamepedia_en/3/3c/Bg_spawner.png?version=8cd38f621cd63bde87fffe78d6c55a43", style: 'max-width: 100%; height: auto;'}
                - elsif card_type(card) == 'Spell'
                  .card{style: 'order: 2;'}
                    .card-image
                      .spell
                        %img{src: has_image(card), style: 'max-width: 100%; height: auto;'}

                - elsif card_type(card) == 'Building'
                  .card{style: 'order: 1;'}
                    .card-image
                      .building
                        %img{src: has_image(card), style: 'max-width: 100%; height: auto;'}

                - else
                  .card
                    .card-image
                      %img{src: has_image(card), style: 'max-width: 100%; height: auto;'}
                      
.ui.basic.center.aligned.segment
  = paginate @decks
/ %td= link_to 'Show', deck
/ %td= link_to 'Edit', edit_deck_path(deck)
/ %td= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })