:css
  .deck-link:hover{
    cursor: pointer;
  }
  .deck-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }

.ui.segment
  
  = form_tag root_path, method: "GET" do

    = select_tag :league, options_for_select(['All Leagues', 'Stone', 'Bronze', 'Silver', 'Gold'], params[:league]), class: 'ui search dropdown'
    = select_tag :legion1, options_for_select(['All Legions', 'White', 'Green', 'Black', 'Blue'], params[:legion1]), class: 'ui search dropdown'
    = select_tag :legion2, options_for_select(['All Legions', 'White', 'Green', 'Black', 'Blue'], params[:legion2]), class: 'ui search dropdown'
    = submit_tag "Filter", class: 'ui secondary button'

  %table.ui.very.basic.selectable.single.line.table
    %thead
      %tr
        %th.six.wide 
          .ui.small.header Name
        %th 
          .ui.small.header League
        %th 
          .ui.small.header Legion
        %th 
          .ui.small.header Legion
    %tbody
      - @decks.each do |deck|
        %tr.deck-link{"data-link" => "#{deck_path(deck.id)}"}
          %td.four.wide
            .deck-name.ui.small.header= deck.name
          %td.right.aligned= league_to_image(deck.tier)
          %td.right.aligned= legion_to_image(deck.legion1)
          %td.right.aligned= legion_to_image(deck.legion2)
          %td.right.aligned
            %img{src: has_image(deck.card_1), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_2), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_3), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_4), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_5), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_6), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_7), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_8), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_9), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_10), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_11), style: 'max-width: 5%; height: auto;'}
            %img{src: has_image(deck.card_12), style: 'max-width: 5%; height: auto;'}

.ui.basic.center.aligned.segment
  = paginate @decks

:javascript
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
  $('select.dropdown').dropdown();

