:css
  .card{
    text-align: center;
    display: block;
    padding: 10px;
  }
  .card:hover{
    cursor: pointer;
  }
  .outline{
    border-style: outset;
    border-color: #314249;
    border-width: 9px;
    background: rgba(48,73,78,.1);
  }

- if current_user == Deck.find(params[:id]).user
  = link_to 'Delete deck', @deck, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui negative right floated button'
  = link_to 'Edit', edit_deck_path(@deck), class: 'ui primary right floated button'


.ui.grid
  .eight.wide.column
    .row
      .ui.list
        .item
          .ui.horizontal.list
            .item
              .ui.large.header= @deck.name
              .sub.header
                Created by:
                = link_to @deck.user.username, user_path(@deck.user)
            .item
              .top.aligned.content
                .ui.labeled.button
                  = link_to like_deck_path(@deck), method: :put, class: 'ui green icon button' do
                    %i.angle.double.up.icon.large
                  .ui.basic.green.left.pointing.label
                    = @deck.get_upvotes.size
          .item
            - if @deck.updated_at <= Time.at(1567199990)
              .ui.small.header{style: 'color: blue'} BETA
            - else
              .ui.small.header= @deck.created_at.strftime("%m/%d/%Y")

        .item
          = legion_to_image(@deck.legion1)
          = legion_to_image(@deck.legion2)
          = league_to_image(@deck.tier)

  .twelve.wide.column

.ui.basic.segment
  .outline
    .ui.stackable.column.grid
      .six.column.row
        - cards_array(@deck).each do |card|
          .column
            .card
              = render 'show_cards', card: card
      

  .ui.header Description:
  = @deck.description


:javascript
  var resizePopup = function(){$('.ui.popup').css('max-height', $(window).height());};

  $(window).resize(function(e){
      resizePopup();
  });

  $('.card-image')
  .popup({
    inline: true,
    lastResort: 'right center',
    onShow: function(){
        resizePopup();
    },
  });