= link_to root_path do
  = image_tag("RoLHeaderBanner.png", class: "ui fluid image")
.ui.secondary.pointing.large.menu{style: 'margin-top: 0; padding-top: 0;'}

  = link_to 'Home', root_path, class: 'item'
  = link_to 'Cards', usable_cards_path, class: 'item'

  .right.menu
    - if user_signed_in?
      = link_to 'My Decks', user_path(current_user), class: 'item'
      = link_to 'New Deck', new_deck_path, class: 'item'
      = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'item'
    - else
      = link_to 'Sign In', new_user_session_path, class: 'item'
      = link_to 'Sign Up', new_user_registration_path, class: 'item'
